.container {
  margin-top: 500px;
  margin-bottom: 250px;
}

body {
  margin: 0 auto;
  padding: 4em 0;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
}

header, footer {
  background-image: url("image.jpg");
  position: fixed;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  width: 100%
}

header {
  background-position: top;
  top: 0;
  height: 500px;
}

footer{
  background-position: bottom;
  bottom: 0;
  height: auto;
}

p {
  margin: 0 auto;
  max-width: 50em;
}

h1 {
  color: white;
  text-align: center;
  vertical-align: middle;
}

article {
  position: relative;
  z-index: 1;
  background-color: #FAFAFA;
  padding: 40px;
}

footer>p {
  vertical-align: middle;
  color: #DCDCDC;
  height: auto;
  padding: 40px;
}

/* h1 {
  font-size: 108px;
} */

@media (max-width: 909px){
  h1 {
    font-size: 86px;
  }

  header {
    height: 250px;
  }

  .container {
    margin-top: 250px;
  }

  p {
    max-width: 35em;
  }
}

@media (min-width: 910px){
  h1 {
    font-size: 108px;
  }
}